@import url(main.less);

.section-three{
	background: @bg-secondary;
	color: @special-black;
	min-height: 780px;
	padding-bottom: 30px;

	.slider-and-desc{
		width: 55%;
		display: inline-block;
		position: relative;
	}
	&__header{
		width: 72%;

		h2{
			font-size: 40px;
			line-height: 50px;
		}
		p{
			font-size: 18px;
			line-height: 28px;
		}
	}
	&__slider{
		display: inline-block;
		width: 480px;//any width will be ok
		position: relative;
		top: 0;
		height: 310px;
		margin: auto;
		overflow: hidden;

		@keyframes slide {
 from {
  top: 0;
  left: 0;
 }
 12.5% {
  transform: translate(0px, 0px);
 }
 25% {
  transform: translate(-500px, 0);
 }
 36% {
  transform: translate(-500px, 300px);
 }
 37% {
  transform: translate(500px, 300px);
 }
 87.5% {
  transform: translate(500px, 0);
  
 }
 to {
  transform: translate(0px, 0px);
 }
}
.slide1 { 
 background: url(../img/block-4-bg.jpg) no-repeat;
 background-size: 100% 100%;
 animation-delay: 7.5s;
}
.slide2 { 
 background: url(../img/bloc-3-slide2.jpg) no-repeat;
 background-size: 100% 100%;
 animation-delay: 5s;
}
.slide3 { 
 background: url(../img/image.jpg) no-repeat;
 background-size: 100% 100%;
 animation-delay: 2.5s;
}
.slide4 { 
 background: url(../img/block-3-slide4.jpg) no-repeat;
 background-size: 100% 100%;
 animation-delay: 0s;
}

		.slide {
			width: 480px;
			height: 310px;
			position: absolute;
			top: 0;
			left: 0;
			animation-name: slide;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__description{
		width: max-content;
		position: absolute;
		top: 0;
		background: white;
		height: 310px;
		display: inline-block;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		h2{
			font-size: 25px;
			line-height: 35px;
		}
		.text-grey{
			color: #7F7F80;
			font-size: 1.3vw;
		}
		.cost{
			font-size: 1.8vw;
			letter-spacing: 1px;
		}
		li{
			margin-left: 15px !important;
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.smeta{
			.btn(@dark-orange);
				a{
					text-decoration: none;
					color: #ffffff;
				}
		}
  		 	 
	}
	&__repairs{
		box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
		width: max-content;
		display: inline-block;
		position: absolute;
		right: 12%;

		li{
			list-style-type: none;
			color: black;
			cursor: pointer;
			padding: 9px 30px 9px 18px;
			font-size: 18px;
			line-height: 28px;
		}
		li:hover{
			background: @dark-orange;
			color: white;
		}
		li:nth-child(3):after{
			content : url('../img/discount2.svg');
			
			position: absolute;
			margin-left: 7%;
			margin-top: -1%; 
		}
	}

	&__request-form{
		position: relative;
		display: none;
	form{
		box-sizing: border-box;
		max-width: 450px;

		div {
   			position: relative;
   			//background: #ffffff;
    		//border-bottom: 1px solid #ccc;
    
    	// Заместо плейсхолдера
     	label {
     		opacity: 0.3;
      		font-weight: bold;
      		position: absolute;
      		top: -2px;
      		left: 10px;
    	}
    
     	input[type="text"],
     	input[type="email"],
     	input[type="tel"] {
      		width: 100%;
     		border: 0;
      		//padding: 20px 20px 20px 50px;

      		display: block;
			padding: 0 7px;
			outline: none;
			border-bottom: 1px solid #D6D9D9;
			margin-bottom: 30px;
      
      	&:focus {
        
        // removing default focus style
        	outline: 0;
        // adding new one
        	background: #ffffff;
        
        	& + label {
         		opacity: 0;
        	}
      }

      &:valid {
        //background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        //background-size: 20px;
        border-bottom: 1px solid green;
        //background-repeat: no-repeat;
        //background-position: 20px 20px;

        	& + label {
          		opacity: 0;
        	}
      }
      
      &:invalid:not(:focus):not(:placeholder-shown) {
      		border-bottom: 1px solid red;
        	& + label {
         		opacity: 0;
        	}
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
      
    }
    
    .requirements {
    	padding: 0 30px 0 50px;
    	color: #999;
    	max-height: 0;
    	transition: 0.28s;
    	overflow: hidden;
    	color: red;
    	font-style: italic;
    }
    
  }
	}

		#close-request-form{
			cursor: pointer;
			position: absolute;
			right: -40px;
			top: -38px;
			
			img{
				opacity: .65;

				&:hover{
					opacity: 1;
				}
			}
		}
		.unvisable-form();
		margin: 35px auto;
		width: 360px;
		flex-direction: column;
		padding: 32px;

		.title{
			color: @special-black;
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			font-family: Roboto;
			margin-bottom: 50px;
			text-align: center;
		}

		.checkbox-group{
			display: flex;
			margin-bottom: 25px;
		
			input[type="checkbox"]{
				margin-right: 10px;
				cursor: pointer;
			}
			label{
				cursor: pointer;
				font-family: Roboto;
				font-size: 12px;
				line-height: 16px;
				color: #121212;
				opacity: 1;
				position: static;
			}
		}
		button{
			
		}
		.inactive{
			border-radius: 40px;
			width: 85%;
			display: block;
			margin: 0 auto;
			outline: none;
			border: none;
			background: rgba(236, 238, 240, 0.6);
			padding: 8px 20px;
		}
		.active{
			.btn(@dark-orange);
		}
	}
}	
@media screen and(max-width: @xs-max){
	.section-three{
		min-height: 680px;
		padding-bottom: 50px;

		&__header{
			width: 100%;
			h2{
				font-size: 35px;
				text-align: center;
			}
			p{
				font-size: 19px;
			}
		}
		&__repairs{
			margin: 0 auto;
			display: block;
			position: static;
		}
		&__request-form{
			
		}
		.slider-and-desc{

			.section-three__slider{
				display: block;
				width: 90vw;
				margin-bottom: 20px;

				.slide{
					width: 80vw;
				}
			}

			.section-three__description{
				display: none;
			}	
		}

	}
}	

@media screen and(min-width: @sm) and (max-width: 1110px){
	.section-three{
		min-height: 680px;
		padding-bottom: 50px;

		&__header{
			width: 100%;
			h2{
				font-size: 5vw !important;
				text-align: center;
			}
			p{
				font-size: 18px;
			}
		}
		&__repairs{
			margin: 0 auto;
			display: block;
			position: static;
		}
		.slider-and-desc{
			width: 85%;

			.section-three__slider{
				//display: block;
				margin-right: 0;
				margin-bottom: 20px;
				width: 42vw;

				.slide{
					width: 45vw;
				}
			}

			.section-three__description{
				h2{
					font-size: 20px;
					line-height: 28px;
				}
			}	
		}

	}
}

@media screen and(min-width: 1111px) and (max-width: 1330px){
	.section-three{
		.section-three__slider{
			margin-right: 0;
			margin-bottom: 20px;
			width: 360px;

			.slide{
				width: 360px;
			}
			}
			&__repairs{
				//width: max-content;
				display: inline-block;
				right: 10%;

			li{
				padding: 8px 15px 9px 15px;
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
/* @media (min-width: 0) and (max-width: 350px){
		box-sizing: content-box !important;
} */