@import url(main.less);

.section-four{
	//min-height: 635px;
	background: linear-gradient(0deg, rgba(36, 36, 36, 0.9), rgba(36, 36, 36, 0.9)),
	url(../img/block-4-bg.jpg) no-repeat;
	background-size: 100% 100%;
	display: flex;

	.section-left{
		flex-basis: 50%;
		padding-bottom: 70px;
		padding-top: 95px;

	}

	.section-right{
		flex-basis: 50%;
		padding-top: 15px;
		position: relative;
	}

	&__bg{
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&__header{
		width: 100%;
		margin-bottom: 55px;

		h1{
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 20px;
		}
		p{
			font-size: 20px;
			line-height: 28px;
		}
	}
	&__advantages{
		display: flex;
		flex-wrap: wrap;

		.advantages__item{
			//flex-basis: 50%;
			flex-grow: 1;
			margin-bottom: 60px;
			display: grid;
			grid-template-areas: 'img header'
								 'img desc';
		 
			h1{
				grid-area: header;
				margin-bottom: 10px;
				font-size: 21px;
				line-height: 25px;
			}
			p{
				grid-area: desc;
				font-size: 16px;
				line-height: 15px;
			}
			img{
				grid-area: img;
				max-width: 80%;
			} 
			 a{
				text-decoration: none;
				color: @dark-orange;
				
				&:hover{
					text-decoration: underline;
				}
			}
		}	
		/* .advantages__item:nth-child(1){
			margin-right: 13.2px;
		}
		.advantages__item:nth-child(3){
			margin-right: 13.2px;
		} */
	}
}

@media (max-width: @sm-max){
	.section-four{

		&__header{
			margin-bottom: 100px;
			text-align: center;
			
			p{
				font-size: 20px;
			}
		}
		.section-left{
			flex-basis: 100%;

			.advantages__item{
				flex-grow: 1;
				flex-basis: 100%;

				h1{
					font-size: 24px;
				}

				p{
					font-size: 18px;
				}

				img{
					max-width: 70%;
				}
			}
		}

		.section-right{
			display: none;
		}
	}
}

@media (min-width: @xl){
	.section-four{

		&__header{

			h1{
				font-size: 43px;
				line-height: 52px;
				margin-bottom: 22px;
			}
			p{
				font-size: 25px;
				line-height: 30px;
			}
		}
		.section-left{
			flex-basis: 65%;

			.advantages__item{
				flex-basis: 50%;

				h1{
				font-size: 25px;
				line-height: 26px;
			}
			p{
				font-size: 20px;
				line-height: 17px;
			}
			}
		}

		.section-right{
			flex-basis: 35%;
		}
}
}