@import url(main.less);

.section-one{
	background: linear-gradient(0deg, rgba(36,36,36,0.7)), url('../img/image.jpg') repeat-x 55% 58%;	
	background-size: 110% 100%;
	min-height: 660px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.calculator-btn{
		position: absolute;
		right: 0;
		overflow: hidden;
		top: 17%;
		width: 45px;

		&:hover{
			width: 52px;
			transition: .2s;
		}
	}

	.call-btn{
		position: absolute;
		right: 0;
		top: 26%;
		width: 46px;

		&:hover{
			width: 53px;
			transition: .2s;
		}
	}

	&__left{
		padding-top: 111px;
		padding-bottom: 75px;
		color: #ffffff;
		flex-basis: 40%;

		.title{
			font-weight: bold;
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 35px;
		}

		.subtitle{
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 30px;
			width: 90%;
		}	

		form{
			input{
				margin-bottom: 30px;
			}

			input[type="text"],
			input[type="tel"]{
				border-radius: 40px;
				padding: 0 13px;
				margin-right: 2%;
				background: #ffffff;
			}

			input[type="submit"]{
				.btn(@dark-orange);
			}

			.form-group{
				display: flex;
				width: 65%;
				margin-bottom: 26px;

				label{
					font-size: 13px;
					line-height: 16px;
					color: #F9F9F9;
				}

				label,
				input[type="checkbox"]{
				cursor: pointer;
				}

				input[type="checkbox"]{
					margin-right: 10px;
				}
			}

			.doverie{
				width: 40%;
				font-size: 15px;
				line-height: 20px;
				display: inline-block;
				position: relative;

				&::after{
					content: url('../img/block-1-arrow.png');
					position: absolute;
					left: 218px;
					top: -108px;
					transform:rotate(-4deg);
				}
			}
		}
}
	&__right{
		padding-top: 61px;
		padding-bottom: 61px;
		padding-right: 0;
		margin-left: 5%;
		color: @special-black;
		flex-basis: 40%;

		form{
			background: #ffffff;
			border-radius: 15px;
			padding: 30px 38px;
			position: relative;

				&::after{
					content: '- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 17%;
					overflow: hidden;
					white-space: nowrap;
					opacity: 0.25;
				}

			.form-title{
				font-weight: bold;
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 24px;
				text-align: center;
			}

			.step{
				font-weight: 500;
				font-size: 16px;
				line-height: 21px;
				margin-bottom: 26px;
				color: #C1C1C1;
				text-align: center;
			}

			.house-type{
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 24px;
				text-align: center;
			}

			.form-group{
				padding-right: 5%;
				width: 68%;
				margin: 0 auto 60px;


				input[type="radio"]{
					margin-right: 10px;
				}

				label{
					font-size: 16px;
					line-height: 25px;
				}

				label,
				input[type="radio"]{
					cursor: pointer;
				}

			}

			input[type="button"]{
				.btn(@dark-orange);
				position: relative;
				width: 78%;
				margin: 0 auto;
			}

			.form-footer{
				font-size: 15px;
				line-height: 20px;
				margin-top: 53px;
				width: 75%;
				margin-left: 22%;
				position: relative;

				&::before{
					content: '-3%';
					position: absolute;
					left: -34%;
					font-weight: bold;
					font-size: 34px;
					line-height: 51px;
					color: @dark-orange;
				}
			}
		}
	}


@media(max-width: @sm-max){

	&__left{
		flex-basis: 100%;
		padding-bottom: 35px;

		.title,
		.subtitle{
			text-align: center;
		}

		.subtitle{
			width: 100%;
		}

		form{

			input[type="text"],
			input[type="tel"],
			input[type="submit"]{
				padding: 7px 15px;
				margin: 0 auto 22px;
				text-align: center;
			}

			.form-group{
				width: 100%;
			}

			.doverie{
				display: none;
			}
		}
	}

	&__right{
		flex-basis: 92%;
		padding-left: 0;

		form{
			padding: 13px 20px;

			.form-group{
				padding-right: 0px;
				padding-left: 50px;
				width: 78%;
			}
		}
	}
}	

@media(min-width: 565px) and (max-width: @sm-max){
	&__right{
		form{
			.form-group{
				padding-left: 90px;
			}
		}
	}
}

@media(min-width: @md){
	&__left{
		flex-basis: 50%;
	form{
		display: flex;
		flex-direction: column;

			input[type="text"],
			input[type="tel"],
			input[type="submit"]{
				padding: 10px 15px;
				margin: 0 auto 30px;
				text-align: center;
			}

			.form-group{
				width: 100%;
			}

			.doverie{
				display: none;
			}
		}	
	}

	&__right{
		flex-basis: 50%;
		margin-right: 0;
		margin-left: 0;
		align-items: center;
		justify-content: center;
		padding-left: 3%;
		padding-right: 0;

		form{
			margin: 0 auto;
			padding: 13px 20px;

			.form-group{
				padding-right: 0px;
				width: 62%;

				label{
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media(min-width: @xl){
	&__left{
		//flex-basis: 50%;
	form{
		display: flex;
		justify-content: center;
		flex-direction: row;
		}
	}	
	&__right{
		flex-basis: 42%;
		padding-left: 10%;

		form{
			.form-group{
			
			}
		}
		}
	}

	@media(min-width: 1305px){
		&__right{
		form{
			.form-group{
				padding-left: 52px;
				width: 85%;
			}
		}
		}
	}
}
