@import url(main.less);

.section-one{
	background: linear-gradient(0deg, rgba(36,36,36,0.7)), url('../img/image.jpg') repeat-x 55% 58%;	
	background-size: 110% 100%;
	min-height: 660px;
	display: flex;
	position: relative;

	.calculator-btn{
		position: absolute;
		right: 0;
		overflow: hidden;
		top: 18%;
		width: 45px;

		&:hover{
			width: 52px;
			transition: .2s;
		}
	}

	.call-btn{
		position: absolute;
		right: 0;
		top: 28%;
		width: 46px;

		&:hover{
			width: 53px;
			transition: .2s;
		}
	}

	&__left{
		padding-top: 111px;
		padding-bottom: 75px;
		color: #ffffff;
		flex-basis: 60%;

		.title{
			font-weight: bold;
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 35px;
		}

		.subtitle{
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 30px;
			width: 90%;
		}	

		form{
			input{
				margin-bottom: 30px;
			}

			input[type="text"],
			input[type="tel"]{
				border-radius: 40px;
				padding: 0 13px;
				margin-right: 2%;
				background: #ffffff;
			}

			input[type="submit"]{
				.btn(@dark-orange);
			}

			.form-group{
				display: flex;
				width: 65%;
				margin-bottom: 26px;

				label{
					font-size: 13px;
					line-height: 16px;
					color: #F9F9F9;
				}

				label,
				input[type="checkbox"]{
				cursor: pointer;
				}

				input[type="checkbox"]{
					margin-right: 10px;
				}
			}

			.doverie{
				width: 40%;
				font-size: 15px;
				line-height: 20px;
				display: inline-block;
				position: relative;

				&::after{
					content: url('../img/block-1-arrow.png');
					position: absolute;
					left: 218px;
					top: -108px;
					transform:rotate(-4deg);
				}
			}
		}
}
	&__right{
		padding-top: 61px;
		padding-bottom: 61px;
		padding-right: 0;
		margin-left: 5%;
		color: @special-black;
		flex-basis: 40%;

		form{
			background: #ffffff;
			border-radius: 15px;
			padding: 30px 38px;
			position: relative;

				&::after{
					content: '- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 20%;
					overflow: hidden;
					white-space: nowrap;
					opacity: 0.25;
				}

			.form-title{
				font-weight: bold;
				font-size: 28px;
				line-height: 32px;
				margin-bottom: 24px;
				text-align: center;
			}

			.step{
				font-weight: 500;
				font-size: 16px;
				line-height: 21px;
				margin-bottom: 26px;
				color: #C1C1C1;
				text-align: center;
			}

			.house-type{
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 24px;
				text-align: center;
			}

			.form-group{
				padding-right: 5%;
				width: 68%;
				margin: 0 auto 60px;


				input[type="radio"]{
					margin-right: 10px;
				}

				label{
					font-size: 16px;
					line-height: 25px;
				}

				label,
				input[type="radio"]{
					cursor: pointer;
				}

			}

			input[type="button"]{
				.btn(@dark-orange);
				position: relative;
				width: 78%;
				margin: 0 auto;
			}

			.form-footer{
				font-size: 15px;
				line-height: 20px;
				margin-top: 53px;
				width: 75%;
				margin-left: 22%;
				position: relative;

				&::before{
					content: '-3%';
					position: absolute;
					left: -34%;
					font-weight: bold;
					font-size: 34px;
					line-height: 51px;
					color: @dark-orange;
				}
			}
		}
	}

/* .section-one__right{
	background: #FFF;
	border-radius: 15px;
	width: 382px;
	height: 538px;
	h2{
		.text-style-and-size(2vw, 800, black);  //Рассчитать стоимость ремонта онлайн
		text-align: center;
	}
	.step{
		.text-style-and-size(1.3vw, 500, #C1C1C1);
		text-align: center; 
	}
	h4{
		.text-style-and-size(1.7vw, 500, black);  //Тип дома
		text-align: center;
	}
	input[type=radio]{
		cursor: pointer;
		text-align: center;
	}
	label{
		text-align: center;
		cursor: pointer;
	}
	input[type=button]{
		.btn(@dark-orange);
		cursor: pointer;
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}
	.form-group{
		margin-left: 21%;
	}
} */
}
.section-one__form{
	input[type=text],[type=tel]{
		.btn(white);
	}
	input[type=submit]{
		.btn(@dark-orange);
		width: 220px;
	}
	.is-client-agree{
		font-size: 0.7vw;
	}

	.form-group{
		display: flex;
		align-items: center;	
			input[type=checkbox]{
				margin-right: 14px;
			}
	}
}

/*

		h2{
		.text-style-and-size(40px, bold, white);
		line-height: 50px;
		margin-top: 111px;
	}
		& :nth-child(2){    //Строительная создает гармоничное..
		.text-style-and-size(18px, normal, white);
		line-height: 28px;
	}
	.doverie{
		.text-style-and-size(15px, normal, white);
		line-height: 20px;
		margin-top: -16px;
	}
	.dashed-line{
		position: absolute;
		top: 455px;
		left: 355px;
		transform: rotate(-3deg);
	}
	.polygon{
		position: absolute;
		top: 440px;
		left: 625px;
	}
}
.section-one__form{
	input[type=text],[type=tel]{
		.btn(white);
		margin-right: 11px;
	}
	input[type=submit]{
		.btn(@dark-orange);
		cursor: pointer;
		width: 205px;
	}
	label{
		.text-style-and-size(12px, normal, white);
		line-height: 16px;
		p{
			position: relative;
			left: 25px;
			top: -35px;
		}
	}
}
*/

/*
.section-one__form2{
	background: #FFF;
	border-radius: 15px;
	width: 382px;
	height: 538px;
	position: absolute;
	left: 835px;
	top: 61px;
	.text-style-and-size(16px, normal, #353535);
	h2{
		.text-style-and-size(28px, 500, black);  //Рассчитать стоимость ремонта онлайн
		text-align: center;
	}
	.step{
		.text-style-and-size(16px, 500, #C1C1C1);
		text-align: center; 
	}
	h4{
		.text-style-and-size(18px, 500, black);  //Тип дома
		text-align: center;
	}
	input[type=radio]{
		cursor: pointer;
		text-align: center;
	}
	label{
		text-align: center;
	}
	input[type=button]{
		.btn(@dark-orange);
		cursor: pointer;
	}
	.sale{
		.text-style-and-size(15px, normal, #353535);
		width: 235px;
		height: 60px;
	}
	.sale-value{
		color: @dark-orange;
		font-size: 34px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
	}

}*/
/* @media screen and(max-width: 576px) { //xs
	.section-one{
	height: 960px;
	
	.section-one__right{
	background: #FFF;
	border-radius: 15px;
	width: 430px !important;
	height: 400px;
	h2{
		.text-style-and-size(2.8vw, 800, black) !important;  //Рассчитать стоимость ремонта онлайн
		text-align: center;
	}
	.step{
		.text-style-and-size(2vw, 500, #C1C1C1);
		text-align: center; 
	}
	h4{
		.text-style-and-size(2.5vw, 500, black) !important;  //Тип дома
		text-align: center;
	}
	input[type=radio]{
		cursor: pointer;
		text-align: center;
	}
	label{
		text-align: center;
		cursor: pointer;
	}
	input[type=button]{
		.btn(@dark-orange);
		cursor: pointer;
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 5% !important;
		&:hover{
			color: black;
		}
	}
	.form-group{
		margin-left: 21%;
	}
}
}
}
@media screen and(max-width: 600px) {
	.section-one{
		background-position: 50% 50%;
		background-size: 155% 100%;
		background-repeat: no-repeat;
	}
}
@media screen and(max-width: 658px) {
	.section-one__right{
		h2{
		.text-style-and-size(2.2vw, 800, black) !important;  //Рассчитать стоимость ремонта онлайн
		text-align: center;
	}
		h4{
		.text-style-and-size(2.1vw, 500, black) !important;  //Тип дома
		text-align: center;
		}
		label{
			text-align: center;
			cursor: pointer;
			font-size: 2vw;
		}
	}
}
@media screen and(max-width: 820px) {
	.section-one__right{
	background: white;
	border-radius: 15px;
	width: 382px;
	height: 538px;
	h2{
		.text-style-and-size(2vw, 800, black);  //Рассчитать стоимость ремонта онлайн
		text-align: center;
	}
	.step{
		.text-style-and-size(1.3vw, 500, #C1C1C1);
		text-align: center; 
	}
	h4{
		.text-style-and-size(1.7vw, 500, black);  //Тип дома
		text-align: center;
	}
	input[type=radio]{
		cursor: pointer;
		text-align: center;
	}
	label{
		text-align: center;
		cursor: pointer;
	}
	input[type=button]{
		.btn(@dark-orange);
		cursor: pointer;
		width: 75%;
		margin-right: auto;
		margin-left: auto;
		&:hover{
			color: black;
		}
	}
	.form-group{
		margin-left: 14% !important;
	}
}
}
@media screen and(min-width: 280px) and (max-width: 599px){
	.section-one__left{
		h1{
			font-size: 5.4vw;
		}
		p{
			font-size: 3.6vw;
		}
		.is-client-agree{
			font-size: 2.1vw;
			margin-top: 10px !important;
		}
		.doverie{
			font-size: 3.2vw;
		}
	}
}
@media screen and(min-width: 600px) and (max-width: 1199px){
	.section-one__left{
		.is-client-agree{
			font-size: 1.5vw;
			margin-top: 10px !important;
		}
	}
}
@media screen and(min-width: 1200px) and (max-width: 2200px){
	.section-one__left{
		.is-client-agree{
			font-size: 1.3vw;
			margin-top: 10px !important;
		}	
	}
}	

@media screen and(min-width: 1500px){
	.section-one__form{
	input[type=text],[type=tel]{
		.btn(white);
		width: 320px;
	}
	}
	input[type=submit]{
		.btn(@dark-orange);
		font-size: 25px;
	}
}
@media screen and(min-width: 1790px){
	.section-one__left{
	h1{
		font-size: 3vw;
	}
	p{
		font-size: 2vw;
	}
}

} */
