@import url(main.less);

.section-contacts{
	padding-top: 70px;
	padding-bottom: 70px;

.section-inner{
	display: flex;
}

	&__content{
		padding-right: 30px;
		flex-basis: 35%;

		&-title{
			color: @dark-orange;
			font-size: 37px;
			line-height: 52px;
			font-weight: bold;
			margin-bottom: 37px;
		}
		&-subtitle{
			font-size: 20px;
			line-height: 26px;
			font-weight: bold;
			margin-bottom: 12px;
		}
		&-text{
			font-size: 15px;
			line-height: 22px;
			margin-bottom: 25px;
		}
	}

	&__map{
		flex-basis: 60%;
		img{
			
		}
	}
}
