@import url(main.less);

.section-service{
	background: #ffffff;
	padding-top: 135px;
	padding-bottom: 80px;

	.section-inner{}

	&__header{
		font-weight: bold;
		font-size: 25px;
		line-height: 50px;

		.service-title{
			font-size: 1.45em;
		}
		.service-subtitle{
			font-size: 1.75em;
		}
	}

	&__main{

		.nav-menu{
			display: flex;
			justify-content: space-around;
			padding-top: 45px;

			&__item{

				a{
					text-decoration: none;
					color: @special-black;
					font-size: 2.1vw;
					padding-bottom: 6px;
				
				&:hover{
					color: @dark-orange;
					//font-size: 1.99vw;
					cursor: pointer;
					border-bottom: 1px solid @dark-orange;
					transition-property: all;
					transition-duration: 0.3s;

					span.long {
 						//padding: 0 1.8em;
					}
				}
			}
			}
		}

		.radio-menu{
			display: flex;
			justify-content: space-between;
			padding-top: 30px;
			margin-bottom: 38px;

			&__1{
				display: flex;
				justify-content: space-between;
				flex-basis: 60%;
			}

			&__2{
				display: flex;
				justify-content: space-between;
				flex-basis: 13%;
			}

			.text-muted,
			.accent-dark,
			input[type=radio],
			label{
				cursor: pointer;
			}
			
			.forward{

				&:hover{
					color: spin(@dark-orange, 15%);
				}
			}

			.backward{
				color: @text-disadbled;

				&:hover{
					color: #696969;
					cursor: pointer;
				}
			}
		}
		.main-content{

			&__slider_and_desc{
				min-height: 320px;
				display: flex;
				flex-wrap: wrap;

				img{
					max-width: 100%;
					height: 100%;
				}
				#slider article{
					width: 20%;
					float: left;
				}
				.overflow{
					width: 100%;
					overflow: hidden;
				}
				article img{
					width: 100%;
				}
				#desktop:checked ~ #slider{
					max-width: 960px;
				}

				.slider{
					flex-basis: 50%;

					&__items{

					}
				}

				.description{
					padding-left: 45px;
					flex-basis: 50%;

				.title{
					font-weight: bold;
					font-size: 26px;
					line-height: 30px;
					margin-bottom: 25px;
				}
				.subtitle{
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto auto auto auto auto;
					grid-gap: 15px;
					font-size: 18px;
					line-height: 22px;

					.grid-1{
						grid-column: 1;
						grid-row: 1; 
					}
					.grid-2{
						grid-column: 2;
						grid-row: 1;  
					}
					.grid-3{
						grid-column: 1; 
						grid-row: 2; 
					}
					.grid-4{
						grid-column: 2; 
						grid-row: 2; 
					}
					.grid-5{
						grid-column: 1;
						grid-row: 3;  
					}

				}
				.text{
					margin-top: -20px !important;
					font-size: 17px;
					line-height: 23px;
				}
				.btn{
					.btn(@dark-orange);
					margin-top: 25px;
				}

					@media (min-width: @xl){
						padding-bottom: 70px;

						.title{
							font-size: 2.1vw;
							line-height: 35px;
							}
						.subtitle{
							font-size: 1.6vw;
							line-height: 27px;
							}
						.text{
							font-size: 1.53vw;
							line-height: 26px;
							}	
						.btn{
							font-size: 1.9vw;
							}		
						}
			}//end of description
		}//end of slider_and_desc
			
	} 
}//end of main content
@media (min-width: @md) {
	.radio-menu{
			&__1{
				flex-basis: 62%;

				label{
					white-space: nowrap;
					margin-right: 8px;

					input{
						margin-right: 5px;
					} 
				}
			}

			&__2{
				justify-content: space-evenly;
				flex-basis: 25%;
			}
		}
		.main-content{
			&__slider_and_desc{
				.description{
					padding-bottom: 65px;
		}
	}
}
}

@media (min-width: @xl) {
	.radio-menu{
			&__1{
				font-size: 24px;

				label{
					margin-right: 18px;

					input{
						margin-right: 12px;
					}
				}	
			}

			&__2{
				font-size: 20px;
			}
	}
}
}

@media (max-width: @sm-max) {
	.section-service{
		padding-top: 60px;
		padding-bottom: 70px;

		&__header{
			text-align: center;
	}

		&__main{
			.nav-menu{
				flex-direction: column;
				align-items: center;

			&__item{
				margin-bottom: 25px;

				a{
					font-size: 23px;
				
				&:hover{
					border-bottom: none;
				}
			}
			}
		}

			.radio-menu{
				justify-content: center;

			&__1{
				flex-direction: column;
				flex-basis: 70%;

				label{
					margin-bottom: 17px;
					font-size: 19px;

					input{
						margin-right: 7px;
					}
				}
			}

			&__2{
				flex-direction: column;
				justify-content: space-evenly;
				flex-basis: 15%;
			}
			
		}

			.main-content{

			&__slider_and_desc{

				.slider{
					flex-basis: 100%;
					margin-bottom: 40px;
				}

				.description{
					flex-basis: 100%;
					padding-left: 0;
					padding-bottom: 80px;

				.title{
					text-align: center;
					font-size: 27px;
					line-height: 30px;
					margin-bottom: 25px;
				}
				.subtitle{
					grid-gap: 13px;
					font-size: 18px;
					line-height: 19px;
				}
				.text{
					font-size: 18px;
					line-height: 22px;
				}
				.btn{
					.btn(@dark-orange);
					display: block;
					margin: 25px auto 0;
					font-size: 22px;
				}
			}
		}
			
	}
}
}
}
